@import "modules/header.css";
@import "modules/nav.css";
@import "modules/main.css";
@import "modules/hero.css";
@import "modules/button.css";
@import "modules/concerts.css";

@font-face {
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/InterVariable.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
}

html {
  font-size: var(--font-size-base);
}

body {
  font-family: var(--font-main), sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

a {
  text-decoration: none;
  color: var(--color-text);
}


