
@font-face {
  @font-face {
    font-family: "Inter";
    src: url("../assets/fonts/InterVariable.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
  }
}

body {
  font-family: var(--font-main), sans-serif;
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* Базовий контейнер, щоб контент не прилипав до країв екрану */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
}
