/* Базовий контейнер, щоб контент не прилипав до країв екрану */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
  
  @media (max-width: 768px) {
    padding: 0 calc(var(--container-padding-x) / 3);
  }
}
.mobile-visible {
  display: none !important;
}

.mobile-hidden {
  display: block;
}

.text-highlight {
  color: var(--color-accent-blue);
  font-weight: 700;
}

.section-title {
  font-size: 2rem;
}

.section-subtitle {
  color: var(--color-text-muted);
  text-align: center;
}

@media (max-width: 768px) {
  .mobile-visible {
    display: inline-block !important;
  }

  .mobile-hidden {
    display: none !important;
  }

  .section-title {
    font-size: 1.7rem;
  }
}

