/* Базовий контейнер, щоб контент не прилипав до країв екрану */
.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding-x);
  
  @media (max-width: 768px) {
    padding: 0 calc(var(--container-padding-x) / 3);
  }
}
/* За замовчуванням кнопка прихована */
.mobile-visible {
  display: none !important;
}

/* Показуємо тільки на мобільних */
@media (max-width: 768px) {
  .mobile-visible {
    display: inline-block !important;
  }
}

.mobile-hidden {
  display: block;
}

/* Показуємо тільки на мобільних */
@media (max-width: 768px) {
  .mobile-hidden {
    display: none !important;
  }
}