:root {
  --color-bg: #121214;
  --color-bg-input: #1c1c26;
  --color-bg-card: #232733;
  --color-border-gray: #414152;
  --color-text: #ffffff;
  --color-text-muted: rgba(174, 186, 197, 0.99);
  --color-accent-yellow: #ffd500;
  --color-accent-pink: #ff3b5c;
  --color-accent-blue: #00e4ff;

  --font-main: 'Inter';

  --font-size-base: 14px;

  --container-width: 1280px;
  --container-padding-x: 60px;
  --container-padding-y: 40px;

  --padding-sm: 10px;
  --padding-md: 20px;

  --gap-sm: 5px;
  --gap-md: 35px;

  --radius-xs: 4px;
  --radius-sm: 8px;
  --radius-md: 16px;

  --header-height: 80px;

  --transition-fast: 0.3s ease;
}
