.btn {
  background-color: var(--color-accent-pink);
  padding: var(--padding-sm);
  border-radius: var(--radius-sm);
  transition: var(--transition-fast);
  font-weight: 700;
}

.btn:hover {
  scale: 1.1;
}

.btn--yellow {
  border: 2px solid var(--color-accent-yellow);
  background: #ffe500;
  background: linear-gradient(135deg,var(--color-accent-yellow) 0%, rgb(255, 253, 123) 49%, var(--color-accent-yellow) 100%);
  color: var(--color-bg);
  -webkit-box-shadow: 0 7px 15px 5px var(--color-accent-yellow);
  box-shadow: 0 7px 15px 5px rgba(255, 235, 10, 0.3);
}