.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image:
    linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url(../../assets/images/hero-bg.webp);
  background-size: cover;
  min-height: 600px;
  text-shadow: 3px 1px 4px var(--color-bg);
}

.hero__inner {
  padding: var(--container-padding-y) calc(var(--container-padding-x) * 2);
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--gap-md);
}

.hero__title {
  font-size: 3.6rem;
}

.hero__subtitle {
  font-size: 1.3rem;
}

.hero__text {
  font-size: 1.05rem;
}

.hero__btn {
  padding-inline: calc(var(--padding-sm) * 2) !important;
}

@media (max-width: 768px) {
  .hero__inner {
    padding-inline: calc(var(--container-padding-x) / 2) !important;
  }

  .hero__title {
    font-size: 2.4rem;
  }
}