.team__inner {
  padding:
    calc(var(--container-padding-y) * 2)
    calc(var(--container-padding-x) * 2);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap-md);
}

.team__members {
  display: flex;
  gap: var(--gap-md);
  width: 100%;
}

@media (max-width: 1024px) {
  .team__members {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 768px) {
  .team__inner {
    padding:
      calc(var(--container-padding-y) / 2)
      calc(var(--container-padding-x) / 2);
  }
}